# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-nuxt
dist-electron
dist-web

# Electrobun & Hutch outputs
.hutch
.cottontail-tmp
build
artifacts

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
